<div class="dashboard-container">
    <h1 class="title">Flight Service Provider</h1>
  
    <div class="search-container">
      <input
        type="text"
        [(ngModel)]="airlineId"
        placeholder="Enter AIRLINE ID"
        class="search-input"
      />
      <button (click)="searchByAirlineId()" class="search-icon-button">
        🔍
      </button>
    </div>
  
    <div *ngIf="showPopup" class="popup show">
      <span class="error-icon">❗</span> Enter Data
    </div>
  
    <h2 *ngIf="airlineName" class="airline-name">{{ airlineName }}</h2>
  
    <table *ngIf="filteredFlights.length > 0" class="cab-table">
      <thead>
        <tr>
          <th>Flight ID</th>
          <th>From</th>
          <th>To</th>
          <th>Departure Date</th>
          <th>Price</th>
          <th>Available Seats</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let flight of filteredFlights">
          <td>{{ flight.id }}</td>
          <td>{{ flight.from }}</td>
          <td>{{ flight.to }}</td>
          <td>{{ flight.departureDate }}</td>
          <td>{{ flight.price | currency }}</td>
          <td>{{ flight.availableSeats }}</td>
        </tr>
      </tbody>
    </table>
  </div>