<div class="flex justify-content-center align-items-center min-h-screen">
    <p-card header="Forgot Password" [style]="{ width: '400px',color:'black', background: 'rgba(255, 255, 255, 0.3)'  }">
      <form #resetForm="ngForm" (ngSubmit)="onResetPassword()">
        <div class="field">
          <label for="resetEmail"><fa-icon [icon]="faEnvelope" style="margin-right: 5px; color: #007bff;"></fa-icon>Email</label>
          <input
            type="text"
            pInputText
            [(ngModel)]="email"
            id="resetEmail"
            name="email"
            class="w-full"
            style="background: rgba(255, 255, 255, 0.1);"
            required
            pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
          />
          <small *ngIf="resetForm.invalid && resetForm.touched" class="p-error">
            Please enter a valid email.
          </small>
        </div>
        <p-button label="Submit" styleClass="w-full" type="submit"></p-button>
        <div class="mt-2">
          <a routerLink="/login">Back to Login</a>
        </div>
      </form>
    </p-card>
  </div>
  