
/* body {
  font-family: 'Poppins', sans-serif;
  background: url("https://t4.ftcdn.net/jpg/00/65/48/25/360_F_65482539_C0ZozE5gUjCafz7Xq98WB4dW6LAhqKfs.jpg") no-repeat;
  background-size: cover;
  min-height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
} */

/* .register-container p-card {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 15px;
  box-shadow: 0 8px 32px rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 2rem;
  max-width: 400px;
  width: 100%;
  animation: fadeIn 1s ease-in-out;
} */

.field {
  margin-bottom: 1.5rem;
}

.field label {
  font-size: 1rem;
  font-weight: 600;
  color:black;
  margin-bottom: 0.5rem;
  display: block;}

/* .field input,
.field p-password,
.field p-dropdown {
  border: 1px solid rgba(255, 255, 255, 0.4);
  background: rgba(255, 255, 255, 0.1);
  color:black;
  border-radius: 6px;
  padding: 0.35rem;
  width: 100%;
  transition: all 0.3s ease;
} */


.field input:focus,
.field p-password:focus,
.field p-dropdown:focus {
  border-color: #a29bfe;
  box-shadow: 0 0 8px rgba(162, 155, 254, 0.8);
  outline: none;

}
.custom-dropdown-background {
  background: rgba(255, 255, 255, 0.1);
}
.field p-dropdown{
  background:rgba(255, 255, 255, 0.1);

}

.block.p-error {
  font-size: 0.8rem;
  color: #fb3a3a;
  margin-top: 0.3rem;
  font-weight: bold;
}

p-button {
  border-radius: none;
  font-weight: bold;
  text-transform: uppercase;
  padding: 0.8rem;
  /* background: linear-gradient(90deg, #6a11cb, #2575fc);  */
  border: none;
  color: #fff;
  transition: all 0.3s ease;
}

/* p-button:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 15px rgba(106, 17, 203, 0.4);
} */

a {
  color: #1b0de1;
  font-weight: bold;
  text-decoration: none;
  transition: all 0.3s ease;
}

a:hover {
  color: #10075a;
  text-decoration: underline;
}

@media (max-width: 768px) {
  .register-container p-card {
    padding: 1.5rem;
    max-width: 90%;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
} 
.mt-2.text-center {
  margin-top: 10px; /* Add some space above */
  text-align: center; /* Center-align the text */
  font-family: 'Poppins', sans-serif; /* Use a clean, modern font */
  font-size: 18px; /* Set font size for the text */
  color: #333; /* Neutral text color */
  line-height: 2.0; /* Space between lines of text */
}
